@media(max-width: 1366px) {
	#masthead.header_v3 .toolbar-container {
		max-width: 100%;
	}
}

// fix css site-origin
@media (min-width: 1200px) {
	//Layout Boxed
	.content-pusher {
		body.boxed-area & {
			max-width: 1200px;
			overflow: hidden;
			margin: 0 auto;
			box-shadow: 0 0 32px rgba(0, 0, 0, 0.23);

			.container {
				padding-left: 55px;
				padding-right: 55px;

				&.home-page,
				&.site-content {
					background: #fff;
				}
			}

			.thim-top-rev-slider {
				position: relative;

				.tp-rightarrow {
					right: 0;
					left: auto !important;
				}

				.tp-rightarrow {
				}
			}

			.site-header {
				max-width: 1200px;

				&.sticky-header {
					left: 0;
					right: 0;
					margin: auto;
				}
			}

			.footer-bottom {
				max-width: 1200px;
				overflow: hidden;
				margin: auto;
			}

			.thim-get-100s h2 {
				font-size: 68px;
			}

			.mo-openid-app-icons .btn-block {
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}

	.container {
		width: 1200px;
	}

	.siteorigin-panels-stretch {
		margin-left: -385px;
		margin-right: -385px;
		padding-left: 385px;
		padding-right: 385px;

		&.thim-fix-stretched {
			padding-left: 0;
			padding-right: 0;

			&.thim-bg-image-cover {
				background-repeat: no-repeat !important;
				background-size: cover !important;
			}
		}
	}
	.switch-layout-container .courses-searching ul {
		max-width: none;
		right: auto;
		left: 0;
	}
}

@media (min-width: 1024px) and (max-width: 1400px) {
	.thim_bg_right {
		background-size: 45%;
	}
	.thim_bg_left {
		background-size: 60%;
	}
	.sc_heading {
		&.clone_title {
			.clone {
				font-size: 70px;
				line-height: 70px;
			}
		}
	}
	.form_developer_course {
		.head_form {
			h2 {
				line-height: 35px;
				font-size: 32px;
			}
		}
	}
	.margin-top-collection {
		margin-top: -83px;

		.thim-courses-collection {
			.owl-controls {
				.owl-buttons {
					> div {
						top: 55px;
					}
				}
			}
		}
	}
	.body-grad-layout .learn-press .course-meta > div.course-review .value > span {
		display: none;
	}
}

@media (max-width: 1400px) {
	.thim-carousel-course-categories-tabs .owl-controls .owl-buttons > div.owl-prev {
		right: calc(100% - 0);
	}
	.thim-carousel-course-categories-tabs .owl-controls .owl-buttons > div.owl-next {
		left: calc(100% - 0);
	}
}

@media (width: 1024px) {
	.thim-register-form-top {
		margin-top: -565px;
	}
	.thim-carousel-course-categories .owl-carousel .owl-buttons {
		display: none;
	}
}

@media (min-width: 1024px) {

	.custom-readmore {
		padding-top: 45px;
		background-repeat: no-repeat !important;
		background-position: bottom right;
		padding-bottom: 34px;

		.content-inner {
			position: relative;
			padding-right: 160px;

			.smicon-read {
				position: absolute;
				top: 50%;
				margin-top: -30px;
				right: 0;
				border-radius: 5px;
				font-size: 115%;

				i {
					display: none;
				}

				&:hover {
					opacity: 0.7
				}
			}

			.icon-box-title, .desc-icon-box p {
				font-style: italic;
			}
		}

		.boxes-icon {
			height: auto !important;

			.inner-icon {
				height: auto
			}
		}
	}

	.images-student {
		margin-top: -100px;
		position: relative;
	}

	body.thim-demo-university-4 .thim-about-eduma {
		padding-bottom: 40px;
	}
	body.thim-demo-university-4 .thim-icon-our-programs {
		padding-bottom: 41px;
	}

}

@media (max-width: 1200px) {
	body.course-landing-active #back-to-top {
		bottom: 75px;
	}

	.widget_shopping_cart .minicart_hover {
		padding: 0;
	}
}

@media (max-width: 1024px) {
	//Override width of container
	.container {
		width: 1024px;
		max-width: 100%;
	}
	.thim-newlleter-homepage {
		background-position: top center;
	}

	.thim-best-industry {
		margin-bottom: 90px;
	}

	.thim-get-100s {
		padding-top: 140px;
	}

	.color-white {
		.counter-group {
			.counter-block {
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.entry-tag-share {
		.social-share {
			margin-top: -10px;

			li {
				margin-top: 10px;
				margin-right: 15px;
			}
		}
	}

	.widget-area {
		.thim-list-posts.sidebar {
			.article-image {
				width: 85px;
			}

			.article-title-wrapper {
				width: calc(100% - 105px);
				width: -webkit-calc(100% - 105px);
				width: -moz-calc(100% - 105px);
			}
		}

		.thim-course-list-sidebar {
			.course-thumbnail {
				width: 85px;
			}

			.thim-course-content {
				width: calc(100% - 105px);
				width: -webkit-calc(100% - 105px);
				width: -moz-calc(100% - 105px);
			}
		}
	}

	.thim-list-event:not(.layout-2):not(.layout-3) {
		.item-event {
			.time-from {
				width: 90px;
				margin-right: 0;
				text-align: left;
			}

			.event-wrapper {
				width: calc(100% - 360px);
				width: -webkit-calc(100% - 360px);
				width: -moz-calc(100% - 360px);
				padding: 0 90px;

				&:before {
					display: none;
				}
			}
		}

	}

	.widget-area {
		aside {
			padding-right: 0;
		}
	}
	.learn-press {
		.course-review {
			.value {
				> span {
					display: none;
				}
			}
		}
	}
	.thim-course-list {
		.course-review {
			.value {
				> span {
					display: none;
				}
			}
		}
	}

	.mfp-content {
		.popup-title {
			left: 0 !important;
			top: 0 !important;
			right: 0 !important;
			position: absolute;
		}
	}

	.thim-click-to-bottom {
		margin-top: 10px;
	}

	.tp-caption.thim-slider-heading {
		font-size: 90px;
	}

	.thim-footer-info {
		> div {
			margin-right: 40px;

			&.info-social {
				.fa {
					margin-right: 20px;
				}
			}
		}
	}

	.thim-buy-now,
	.thim-university-top-icon.thim-bg-overlay {
		margin-left: 15px;
		margin-right: 15px;
	}
	.thim-university-top-icon.thim-bg-overlay {
		margin-top: 30px;
		margin-right: 0;
		margin-left: 0;
	}

	.counter-box {
		&.number-left {
			.display-percentage {
				width: 110px;
				font-size: 55px;
				line-height: 58px;
			}

			.counter-content-container {
				padding-right: 20px;
				width: calc(100% - 130px);
				width: -webkit-calc(100% - 130px);
				width: -moz-calc(100% - 130px);
			}
		}
	}
	.site-header.header_v2 .navigation .navbar-nav > li > a,
	.site-header.header_v2 .navigation .navbar-nav > li > span {
		padding-left: 20px;
		padding-right: 20px;
	}
	.site-header.header_v2 .navigation .navbar-nav > li > a:after,
	.site-header.header_v2 .navigation .navbar-nav > li > span:after {
		right: 5px;
	}
	.site-header.header_v2 .navigation {
		.menu-mobile-effect.navbar-toggle {
			top: 37px;

			span.icon-bar {
				background-color: #fff;
			}
		}

		.header-top-menu {
			display: inline-block;
			float: right;
			margin-right: 60px;

			.search-form {
				max-width: 200px;
			}
		}
	}

	.mo-openid-app-icons .btn-block {
		margin-top: 20px;
	}
	.mo-openid-app-icons .btn-block:last-child {
		margin-top: 20px;
		margin-right: 20px;
	}

	.thim-bg-border-top .thim-widget-icon-box .wrapper-box-icon .content-inner {
		padding: 40px 30px 50px 120px;
	}

	#thim-popup-login .thim-login-container {
		.close-popup {
			display: block;
		}
	}
	.header_v3 .thim-widget-link,
	.header_v3 .elementor-widget-thim-link {
		padding-right: 15px;
	}
	#masthead.header_v3 .toolbar .menu li {
		padding-right: 27px;
	}
	.thim-list-event.layout-3 .event-wrapper {
		padding-right: 15px;
	}
	.thim-grid-posts .item-post .article-image {
		overflow: hidden;

		img {
			position: absolute;
		}
	}

	.elementor-widget-thim-carousel-categories .image img,
	.thim-widget-carousel-categories .image img {
		position: absolute;
	}

	.thim-footer-info-3 {
		padding-right: 50px;
		padding-left: 20px;
	}

	.thim-experience {
		padding-right: 35px;
	}
	.thim-grid-posts .grid-vertical .item-post .article-image img {
		position: relative;
		max-width: none;
	}
	.thim-row-mobile-no-fullwidth {
		margin-left: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;

		> .panel-grid-cell {
			padding-left: 0 !important;
			padding-right: 0 !important;

			.thim-widget-list-event {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	#masthead {
		&.header_v4 {
			.navigation {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	.thim-style-content-new-1 .course_right .thim-social-share li > div a {
		margin-bottom: 10px;
	}
	#masthead.header_v3 .header_v3_container {
		background: #fff;
		min-height: 50px;
		padding: 0;
		padding-top: 15px;
		padding-bottom: 15px;

		.menu-mobile-effect.navbar-toggle {
			right: 0;
		}

		.menu-mobile-effect.navbar-toggle span.icon-bar {
			background: #333;
		}

		.sidebar-header {
			.widget.widget_button {
				display: none;
			}
		}
	}
}

@media (max-width: 992px) {
	//Override width of container
	.container {
		width: 960px;
		max-width: 100%;
	}

	.color-white {
		.counter-group {
			.counter-block {
				margin-right: 10px;
			}
		}
	}

	.thim-course-list {
		.course-item {
			.thim-course-content {
				.course-meta {
					> div {
						margin-right: 15px;
						padding-right: 15px;
					}
				}
			}
		}
	}

	.single-lpr_course .mfp-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.learn-press {
		.course-meta {
			.course-author {
				display: none;
			}
		}
	}
	.profile-container {
		.profile-tabs {
			.nav-tabs {
				li {
					width: 33.3333%;
				}
			}
		}
	}
	.widget-area {
		.thim-list-posts.sidebar {
			.article-image {
				width: 65px;
				margin-right: 10px;
			}

			.article-title-wrapper {
				width: calc(100% - 75px);
				width: -webkit-calc(100% - 75px);
				width: -moz-calc(100% - 75px);
			}
		}

		.thim-course-list-sidebar {
			.course-thumbnail {
				width: 65px;
				margin-right: 10px;
			}

			.thim-course-content {
				width: calc(100% - 75px);
				width: -webkit-calc(100% - 75px);
				width: -moz-calc(100% - 75px);
			}
		}
	}

	.thim-click-to-bottom {
		margin-top: 0;
	}
	.thim-widget-icon-box {
		.wrapper-box-icon.circle {
			.content-inner {
				padding-right: 0;
			}
		}
	}
	.thim-welcome-university {
		-ms-flex-wrap: wrap !important;
		-webkit-flex-wrap: wrap !important;
		flex-wrap: wrap !important;

		.panel-grid-cell {
			width: 50% !important;
			width: calc(50% - (0.5 * 30px)) !important;

			&:last-child {
				width: 100% !important;
			}
		}

		.thim-register-now-form {
			margin-left: auto;
			margin-right: auto;
			float: none;

			.title {
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}

	.collection-grid-3 {
		width: 50%;
		margin-bottom: 30px;

		&:not(.collection-feature) {
			//width: 100%;
			//padding: 0;
			.collection-item {
				width: 50%;
				float: left;
				margin-bottom: 30px;
				padding: 0 15px;
			}
		}
	}

	.thim-welcome-university-2 {
		-ms-flex-wrap: wrap !important;
		-webkit-flex-wrap: wrap !important;
		flex-wrap: wrap !important;

		.panel-grid-cell {
			width: 50% !important;

			&:nth-child(3) {
				clear: both;
				width: 100% !important;
				text-align: center;
			}

			&:nth-child(2) {
				padding-left: 30px;
			}
		}

		.thim-register-now-form {
			float: none;
			display: inline-block;
		}
	}
	#masthead {
		&.header_v4 {
			.navigation {
				.width-logo {
					padding-left: 0;
				}
			}
		}
	}
	.thim-row-mobile-no-fullwidth {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.thim-widget-tab .nav-tabs li a span {
		display: none;
	}
	.margin-top-collection {
		margin-top: -55px;

		.thim-courses-collection {
			.owl-controls {
				.owl-buttons {
					> div {
						top: 27px;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.img_position .widget_single-images:nth-child(2) img,
	.img_position .widget_single-images:nth-child(1) img {
		max-width: 450px;
	}
	.layout_demo_1 .thim-list-event .item-event .time-from {
		width: 100px !important;
	}
	.layout_demo_1 .thim-list-event .item-event .event-wrapper {
		padding: 0 50px !important;
		width: calc(100% - 495px) !important;
		width: -webkit-calc(100% - 495px) !important;
		width: -moz-calc(100% - 495px) !important;
	}
}

@media (min-width: 768px) and (max-width: 959px) {
	//Override width of container
	.container {
		width: 900px;
		max-width: 100%;
	}

	.counter-box {
		&.number-left {
			padding: 27px 0;

			.display-percentage {
				width: 100%;
				float: none;
				text-align: left;
				padding-left: 30px;
				margin-bottom: 20px;
			}

			.counter-content-container {
				margin-left: 0;
				padding-right: 30px;
				padding-left: 30px;
				width: calc(100%);
				width: -webkit-calc(100%);
				width: -moz-calc(100%);
				border: 0;
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 1023px) {
	.thim-courses-collection {
		.thim-collection-carousel {
			.item {
				padding-right: 10px;
				padding-left: 10px;
			}
		}

		.owl-controls {
			.owl-buttons {
				> div {
					width: 45px;
					line-height: 45px;

					i {
						width: 45px;
						line-height: 45px;
					}
				}
			}
		}
	}
}

@media (min-width: 769px) and (max-width: 800px) {
	.margin-top-collection {
		margin-top: -55px;

		.thim-courses-collection {
			.owl-controls {
				.owl-buttons {
					> div {
						top: 27px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 800px) {
	#main {
		width: 70%;

		&.full-width {
			width: 100%;
		}
	}
	#sidebar {
		width: 30%;
	}
	.entry-tag-share {
		.col-sm-6 {
			width: 100%;
		}

		.thim-social-share {
			float: none;
			margin-top: 15px;
		}
	}
	#tab-course-description, #learn-press-course-description {
		.thim-course-content {
			width: 100%;
			float: none;
			clear: both;
			border-right: 0;
		}

		.thim-course-info {
			float: none;
			clear: both;
			padding-left: 0;
			margin-top: 30px;
		}
	}
	#tab-course-review, #tab-reviews {
		.course-rating {
			.detailed-rating {
				margin-top: 20px;
			}
		}
	}
	.profile-container {
		.profile-tabs .thim-course-carousel .owl-item {
			max-width: calc(259px);
			max-width: -webkit-calc(259px);
			max-width: -moz-calc(259px);
		}

		.quiz-results .result-field {
			margin-right: 15px;
		}

		.user-tab {
			width: calc(250px);
			width: -webkit-calc(250px);
			width: -moz-calc(250px);
		}

		.profile-tabs {
			width: calc(100% - 250px);
			width: -webkit-calc(100% - 250px);
			width: -moz-calc(100% - 250px);
		}
	}

	.wrapper-box-icon.overlay {
		.boxes-icon {
			max-width: 100px;
		}

		.content-inner {
			width: calc(100% - 115px) !important;
			width: -webkit-calc(100% - 115px) !important;
			width: -moz-calc(100% - 115px) !important;
		}

		.heading__primary {
			font-size: 20px;
		}
	}
	.tp-event-content {
		.entry-content {
			width: 100%;
			float: none;

			&:after {
				display: none;
			}
		}

		.tp-event-info {
			float: none;
			clear: both;
			margin-top: 30px;
			padding-left: 0;
		}
	}

	.tp-caption.thim-slider-heading {
		font-size: 60px !important;
	}
	.thim-register-now-form.top-homepage {
		margin: 44px 0;
	}
	article .entry-header .entry-meta li {
		margin-right: 20px;
		padding-right: 25px;

		&.author {
			display: none;
		}
	}
	#thim-course-archive.thim-course-list {
		.course-item {
			.course-meta {
				margin-bottom: 15px;
			}

			.course-thumbnail {
				width: calc(200px);
				width: -webkit-calc(200px);
				width: -moz-calc(200px);
			}

			.thim-course-content {
				width: calc(100% - 230px);
				width: -webkit-calc(100% - 230px);
				width: -moz-calc(100% - 230px);
			}

			.course-review {
				display: none;
			}

			.course-readmore {
				margin-top: 0;
			}
		}
	}

	.switch-layout-container .courses-searching form {
		width: 165px;
	}

	.learn-press .course-tabs .nav-tabs li a {
		padding: 10px;
	}

	.thim-get-100s {
		.get-100s {
			font-size: 17px;
		}

		h2 {
			font-size: 42px;
			line-height: 50px;
		}
	}
	.color-white {
		.counter-group {
			.counter-block {
				width: 80px;
				height: 80px;
				margin-right: 5px;

				.counter {
					height: 36px;
					line-height: 36px;
					width: 44px;
					font-size: 34px;
					margin: 10px auto 0;

					&.with-hundreds {
						width: 55px;
					}
				}

				.counter-caption {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}
	}
	.thim-widget-tab .nav-tabs li a span {
		display: none;
	}
}

@media (max-width: 768px) {
	.thim-course-grid {
		.lpr_course[class*=course-grid-] {
			width: 50%;
			clear: initial;

			&:nth-child(2n+1) {
				clear: both;
			}
		}

		&.thim_tabs_slider {
			.lpr_course[class*=course-grid-] {
				&:nth-child(2n+1) {
					clear: none;
				}

				&:nth-child(2n) {
					clear: both;
				}
			}

			.lpr_course.course-grid-2 {
				width: 100%;
			}
		}
	}

	.related-archive {
		ul.archived-posts {
			overflow: hidden;
			white-space: nowrap;

			> li {
				width: 50%;

				&:nth-child(5n+0),
				&:nth-child(5n+3),
				&:nth-child(5n+4),
				&:nth-child(5n+5) {
					display: none;
				}
			}
		}
	}

	.thim-ralated-course {
		.thim-course-grid {
			.lpr_course[class*=course-grid-] {
				&:nth-child(5n+0),
				&:nth-child(5n+3),
				&:nth-child(5n+4),
				&:nth-child(5n+5) {
					display: none;
				}
			}
		}
	}

	.list-tab-event {
		.nav-tabs {
			li {
				width: 33.333%;
				min-width: 0;
			}
		}
	}

	.tp-caption.thim-slider-heading {
		font-size: 70px;
	}

	.thim-list-event:not(.layout-2):not(.layout-3) {
		.item-event {
			.time-from {
				width: 90px;
				margin-right: 0;

				.date {
					font-size: 60px;
					line-height: 62px;
				}

				.month {
				}
			}

			.event-wrapper {
				width: calc(100% - 330px);
				width: -webkit-calc(100% - 330px);
				width: -moz-calc(100% - 330px);
				padding: 0 30px;

				&:before {
					display: none;
				}
			}

			.image {
				width: 240px;
			}
		}

	}

	body.single-lpr_course.admin-bar {
		.mfp-inline-holder {
			padding-top: 46px;
		}
	}

	.mfp-content {
		.popup-title {
			font-size: 16px;
			line-height: 70px;
			padding-left: 20px;
			padding-right: 80px;

			> button {
				line-height: 70px;
				width: 70px;
				height: 70px;
			}
		}

		.course-content.popup-content,
		.thim-iframe-quiz iframe {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.thim-footer-one-course .panel-grid-cell {
		width: 100% !important;
		float: none;
	}
	footer#colophon .footer .thim-footer-one-course ul.menu {
		text-align: left;
	}
	.thim-video-box .video-container {
		background-size: contain;

		.video {
			height: 354px;
		}
	}

	article.our_team {
		.image {
			width: 100%;
			float: none;
			margin-bottom: 30px;

			img {
				max-width: 200px;
			}
		}

		.content {
			width: 100%;
			float: none;
			clear: both;
			padding-left: 0;
		}

		.extra-info {
			width: 100%;
			float: none;
			clear: both;
			padding-left: 0;
			border: 0;
		}
	}

	.mobile-menu-container {
		.sub-menu {
			&[class*="submenu_columns"] {
				margin-left: 10px;

				&:before {
					display: none;
				}

				> li {
					margin-top: 0;
					margin-bottom: 0;
					overflow: hidden;

					&:before {
						display: none;
					}

					.sub-menu:before {
						top: 0;
					}
				}
			}
		}
	}

	.thim-row-bg-border-top {
		margin-top: 0;
	}

	.thim-hello-there {
		.readmore {
			margin-bottom: 30px;
		}
	}

	.thim-bg-border-top .thim-widget-icon-box .wrapper-box-icon .content-inner {
		padding: 100px 0 50px 60px;
	}

	.woocommerce.widget_woocommerce_products .product_list_widget li {
		width: 50%;

		&:nth-child(4n+1) {
			clear: inherit;
		}

		&:nth-child(2n+1) {
			clear: both;
		}
	}

	#learn-press-course-lesson iframe {
		max-width: calc(100vw - 52px);
		max-width: -webkit-calc(100vw - 52px);
		max-width: -moz-calc(100vw - 52px);
	}
	.thim-demo-university-3 {
		footer#colophon {
			background-image: none;
			background-size: auto;

			&.footer-bg-image {
				background-size: cover;
			}
		}
	}
	.thim-footer-info-3 {
		padding-right: 0;
		padding-left: 0;
		margin: auto;
		max-width: 350px;
	}
	.thim-experience {
		padding-right: 0;
		border-right: 0;
		padding-bottom: 0;
	}
	.header_v3 .elementor-widget-thim-link .desc,
	.header_v3 .thim-widget-link .desc {
		display: none;
	}
	.thim-owl-carousel-post.layout-2 {
		padding-top: 60px;

		.owl-controls .owl-buttons {
			top: 15px;
		}
	}
	.thim-sidebar-content .twitter-inner {
		min-height: 300px;
	}
	#masthead.header_v3 .toolbar-container .widget_nav_menu {
		display: none;
	}
	#masthead.header_v3 .toolbar-container {
		padding-left: 0;
	}
	.sidebar-header {
		display: none;
	}
	.thim-demo-university-3 .footer .so-panel.widget {
		text-align: center;
	}
	footer#colophon .mc4wp-form {
		max-width: 250px;
		margin: auto;
		margin-top: 10px;
	}
	.thim-demo-university-3 footer#colophon .widget-title {
		margin-top: 37px;
	}
	.list-event-slider .view-all,
	body.thim-demo-university-4 .thim-list-post-inner .link_read_more a {
		color: #333;
	}
	.elementor-widget-thim-carousel-categories, .content-wrapper,
	.thim-widget-carousel-categories .content-wrapper {
		padding: 25px;
	}
	.elementor-widget-thim-carousel-categories, .owl-controls .owl-buttons,
	.thim-widget-carousel-categories .owl-controls .owl-buttons {
		bottom: 20px;
	}
	.thim-university-top-icon.thim-bg-overlay {
		margin-top: 30px;
		-webkit-flex-direction: unset !important;
		-ms-flex-direction: unset !important;
		flex-direction: unset !important;
		-ms-flex-wrap: wrap !important;
		-webkit-flex-wrap: wrap !important;
		flex-wrap: wrap !important;
	}
	.thim-university-top-icon.thim-bg-overlay > .panel-grid-cell .thim-widget-icon-box .wrapper-box-icon {
		border-right-color: #8C8C8C;
	}
	.thim-university-top-icon {
		-webkit-flex-direction: unset !important;
		-ms-flex-direction: unset !important;
		flex-direction: unset !important;
		-ms-flex-wrap: wrap !important;
		-webkit-flex-wrap: wrap !important;
		flex-wrap: wrap !important;

		> .panel-grid-cell {
			width: 33.33% !important;
			float: left !important;

			.thim-widget-icon-box .wrapper-box-icon {
				border-right: 1px solid #e6a303;
			}

			&:nth-child(3n+0) {
				.thim-widget-icon-box .wrapper-box-icon {
					border-right: 0;
				}
			}
		}
	}
	.margin-top-collection {
		margin-top: -105px;

		.thim-courses-collection {
			.owl-controls {
				.owl-buttons {
					> div {
						top: 78px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.mobile-logo-custom.site-header {
		.sticky-logo, .no-sticky-logo {
			display: none;
		}

		&.affix-top {
			.sticky-logo-mobile {
				display: none;
			}
		}

		&.affix {
			.no-sticky-logo-mobile {
				display: none;
			}
		}
	}
	.list-event-layout-3 {
		margin-bottom: 30px;
	}
	.feature-icon-box:after {
		right: 60px;
	}
	.top_site_main {
		min-height: initial;
	}
	.thim-course-carousel .owl-buttons {
		top: -45px;
		right: auto;
		left: 5px;
	}
	.counter-box {
		margin: 0;
	}
	.thim-list-event {
		.item-event {
			padding-bottom: 30px;
			padding-top: 30px;
		}
	}
	#main,
	#sidebar {
		width: 100%;
		float: left;
		clear: both;
	}

	.site-main {
		&.alignleft {
			padding-right: 15px;
			padding-bottom: 60px;
		}

		&.alignright {
			padding-left: 15px;
			padding-bottom: 60px;
		}
	}

	.thim-best-industry {
		margin: 0;

		.wrapper-box-icon.overlay {
			background: #000;
		}
	}

	.thim-get-100s {
		text-align: center;
	}

	.thim-register-now-form {
		float: none;
		margin: 15px auto 60px;

		.wpcf7-form, form.yikes-easy-mc-form {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.color-white .counter-group {
		text-align: center;
	}

	.counter-box {
		border-right: 0;
	}

	.search-course-list-info {
		li {
			margin: 0 15px;
		}
	}

	.widget-area {
		.thim-list-posts.sidebar {
			.article-image {
				width: 100px;
				margin-right: 20px;
			}

			.article-title-wrapper {
				width: calc(100% - 120px);
				width: -webkit-calc(100% - 120px);
				width: -moz-calc(100% - 120px);
			}
		}

		.thim-course-list-sidebar {
			.course-thumbnail {
				width: 100px;
				margin-right: 20px;
			}

			.thim-course-content {
				width: calc(100% - 120px);
				width: -webkit-calc(100% - 120px);
				width: -moz-calc(100% - 120px);
			}
		}
	}

	.alignright, .alignleft {
		float: none;
	}

	.contact-page .row .wpcf7-form-control-wrap {
		width: 100%;

		&.your-name, &.your-email {
			margin-bottom: 10px;
		}
	}

	#profile-tabs, .user-info {
		width: 100%;
		padding: 0;
	}

	.megacol {
		background-image: none !important;
	}

	.user-courses-content .own-courses .own-courses-wrapper .inner-own-course {
		width: 100%;
	}

	footer#colophon .copyright-area {
		padding: 0;

		.text-right {
			text-align: left;
			margin-top: 5px;

			li {
				&:first-child {
					margin-left: 0;
				}
			}
		}

		.copyright-content {
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}

	.widget-box-title .browse-all-courses {
		position: static;
	}

	.widget-box-title {
		padding-right: 0;

		p {
			margin-bottom: 0;
		}
	}

	.custom-images {
		margin-top: 25px;
		margin-bottom: 25px;;
	}

	.top_site_main .page-title-wrapper {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.site-content {
		padding: 35px 15px;
	}

	.woocommerce.single-product {
		.col-sm-12 div.product, .col-sm-9 div.product {
			div.images, div.summary {
				width: 100% !important;
			}

		}
	}

	.woocommerce.single-product div.product .related.products .blog-grid li.product {
		width: 50% !important;

		&:nth-child(2n+1) {
			clear: both;
		}
	}

	.site-header {
		padding: 15px 0;
		overflow: inherit;

		&.sticky-header.affix {
			padding-top: 7px;
			padding-bottom: 7px;

			.navbar-nav {
				> li {
					> a,
					> span.disable_link,
					> .tc-menu-inner {
						padding: 0;
					}
				}
			}
		}
	}

	.thim-gallery-images-default {
		.item {
			float: left;
			width: 50% !important;
		}
	}

	.overlay-black {
		padding-bottom: 30px !important;
		padding-top: 50px !important;
	}

	.fix-responsive {
		margin-left: 0 !important;
	}

	.single .learn-press {
		header {
			overflow: hidden;

			.author {
				float: left
			}
		}

		#course-landing .course-students > span:after {
			display: none;
		}
	}

	#masthead.affix-top {
		margin-top: 0;
	}

	.navigation .width-logo img {
		margin: 0;
		margin-bottom: 10px;
	}

	#masthead .navigation {
		padding-top: 10px;
		padding-bottom: 0;
	}

	.learn-press h1.entry-title, .menu-scoll-landing .col-md-6 {
		width: 100%;
	}

	.menu-scoll-landing .col-md-6 {
		margin-bottom: 15px !important;
		text-align: left;
	}

	.menu-scoll-landing .course-wishlist, .menu-scoll-landing .course-wishlisted {
		display: inline-block;
		font-size: 0;
		padding: 13px;
		margin-left: 0;

		&:after {
			content: "\f08a";
			font: normal normal normal 14px/1 FontAwesome;
		}
	}

	.menu-scoll-landing .course-wishlisted {
		&:after {
			content: "\f004";
		}
	}

	.wrapper-author {
		margin-bottom: 25px;
	}

	.learn-press {
		.course-meta {
			.course-author {
				display: none;
			}
		}
	}

	.profile-container {
		.user-tab {
			width: 100%;
			float: none;
			text-align: center;
			margin-bottom: 40px;
		}

		.profile-tabs {
			width: 100%;
			float: none;
			clear: both;
		}
	}

	.wrapper-box-icon {
		&.overlay {
			.heading__primary {
				margin-top: 35px;
			}
		}
	}

	.thim-register-form-top {
		margin-top: 0;

		.thim-register-now-form {
			margin: auto;
			box-shadow: 1px 0 5px 0 #ccc;
		}
	}
	.wrapper-lists-our-team .our-team-item {
		width: 50%;
		float: left;
	}
	.thim-other-member.wrapper-lists-our-team .our-team-item {
		margin-bottom: 55px;
	}
	.thim-demo-accounts {
		clear: both;
		margin-left: -15px !important;
		margin-right: -15px !important;

		> .panel-grid-cell {
			width: 50% !important;
			float: left !important;
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
	.thim-video-box .video-container {
		max-height: 415px;

		.video {
			max-height: 340px;
			height: 340px;
		}
	}
	.thim-welcome-university {
		> .panel-grid-cell {
			width: 100% !important;

			&:first-child {
				padding-right: 0 !important;

				&:before {
					display: none;
				}
			}

			&:nth-child(2) {
				padding-left: 0 !important;
			}
		}

		.thim-register-now-form {
			.title {
				font-weight: 400;
			}
		}
	}
	article.testimonials {
		.image {
			width: 100%;
			float: none;
			clear: both;
			margin: 0;
			margin-bottom: 30px;

			img {
				max-width: 200px;
			}
		}

		.content {
			float: none;
			width: 100%;
			clear: both;
		}
	}

	.site-header.header_v2#masthead .navigation {
		padding-top: 10px;
	}
	.site-header.header_v2 .navigation .width-navigation img,
	.site-header.header_v2 .navigation .width-logo img {
		margin-bottom: 10px;
	}

	.thim-buy-now, .thim-university-top-icon.thim-bg-overlay {
		margin-left: 0;
		margin-right: 0;
	}
	.thim-buy-now .thim-widget-button {
		text-align: left;
	}

	.wrapper-gallery-filter {
		> .thim-col-5,
		> [class*=col-sm-] {
			width: 50%;
			float: left;
		}
	}

	.thim-global-locations {
		margin-top: 0;
	}
	.thim-widget-courses, .elementor-widget-thim-courses {
		.thim-category-tabs.thim-course-grid {
			margin-top: -30px;
		}
	}
	.thim-category-tabs {
		.nav-tabs {
			float: none;
			margin: 0;
			margin-bottom: 30px;
		}
	}

	#thim-popup-login {
		.thim-login-container > br {
			display: block;
		}

		.mo-openid-app-icons {
			width: 100%;
			float: none;
			padding-bottom: 40px;

			&:after {
				content: '';
				position: absolute;
				max-width: 520px;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: auto;
				height: 1px;
				top: auto;
			}
		}

		&.active {
			.thim-login-container {
				.thim-login, .thim-register {
					width: 100%;
					float: none;
					clear: both;
					margin-top: 10px;
					padding: 0;
				}
			}
		}
	}

	.thim-bg-border-top .thim-widget-icon-box .wrapper-box-icon .content-inner {
		padding: 10px 30px;
	}

	.thim-about-author {
		.author-wrapper {
			text-align: center;
		}

		.author-avatar {
			float: none;
			display: inline-block;
			margin-right: 0;
			margin-bottom: 5px;
		}

		.author-bio {
			width: 100%;
			clear: both;
			float: none;
		}
	}
	.thim-style-content-new-1 .content_course_2 {
		margin-top: -195px;
	}
	.thim-style-content-new-1 {
		#lp-single-course {
			.course-meta {
				> div {
					display: inline-block;
					margin-bottom: 15px;
					width: 40%;
					padding-left: 0;

					&.course-author {
						width: 100%;
						display: inline-block;
					}
				}
			}
		}

		#tab-course-description {
			.thim-course-content {
				width: 100%;
			}
		}

		.course_right {
			margin-bottom: 30px;
		}

		.course-summary {
			#learn-press-course-curriculum {
				ul.curriculum-sections {
					.section-content {
						.course-item {
							padding-left: 15px;

							.course-item-meta {
								right: 10px;
								top: 15px;
								padding-top: 0;
							}
						}
					}
				}
			}
		}

		.menu_content_course {
			.thim-about-author {
				.author-bio {
					width: 100%;
				}

				.author-description {
					width: 100%;
					margin-top: 30px;
				}
			}

			#tab-course-review, #tab-reviews {
				.course-rating {
					> .detailed-rating {
						width: 100%;
						margin-top: 0;

						.rating-box {
							padding-top: 0;
						}
					}
				}
			}
		}

		.vc_row {
			&.vc_parallax {
				background: none !important;
			}
		}

	}
	.footer_widget {
		.panel-grid-cell {
			margin-bottom: 30px !important;
		}
	}
	.thim-carousel-list-instructors {
		.instructor-item {
			padding-left: 0;
			padding-right: 0;

			.instructor-info {
				position: inherit;
				bottom: inherit;
			}

			.wrap-item {
				padding-bottom: 0;
			}

			.info_ins {
				.students, .reviews {
					text-align: center;
				}
			}
		}
	}
	.siteorigin-panels-stretch {
		&.panel-row-style {
			&.thim_bg_right, &.thim_bg_left {
				background-image: none !important;
			}
		}
	}
	.thim-row-bg-border-top {
		.panel-grid-cell {
			margin-bottom: 0;
			overflow: hidden;
		}
	}

	.thim-welcome-university-2 .panel-grid-cell {
		width: 100% !important;
	}

	.single .learn-press header, .site-header {
		overflow: visible;
	}
}

//For Apple Iphone 6
@media screen and (max-width: 667px) {
	.thim-course-list {
		.course-item {
			.course-thumbnail {
				width: 220px;
			}

			.thim-course-content {
				width: calc(100% - 250px);
				width: -webkit-calc(100% - 250px);
				width: -moz-calc(100% - 250px);
			}
		}
	}

	.thim-newlleter-homepage {
		.mc4wp-form {
			.mc4wp-form-fields {
				input[type=text],
				input[type=email] {
					margin-left: 0;
				}
			}
		}

		margin-top: -20px;
		background: none;
		padding-top: 15px;
		padding-bottom: 45px;
		border-top: 1px solid #eee;
	}

	#tab-course-description, #learn-press-course-description {
		.thim-course-content {
			float: none;
			clear: both;
			border-right: 0;
			width: 100%;
		}

		.thim-course-info {
			float: none;
			clear: both;
			padding-left: 0;
			margin-top: 30px;
		}
	}

	#tab-course-review, #tab-reviews {
		.course-rating {
			.detailed-rating {
				margin-top: 30px;
			}
		}
	}

	.thim-list-event:not(.layout-2):not(.layout-3) {
		.item-event {
			.time-from {
				width: 100%;
				text-align: left;

				.date {
					display: inline-block;
					font-size: 50px;
					line-height: 50px;
					margin-right: 10px;
				}

				.month {
					display: inline-block;
					line-height: 50px;
				}
			}

			.image {
				float: none;
				margin-bottom: 15px;
				width: 100%;
			}

			.event-wrapper {
				clear: both;
				float: none;
				padding: 0 50px 0 0;
				width: 100%;

				&:before {
					display: none;
				}
			}
		}
	}
	#back-to-top {
		display: none;
	}
	.entry-tag-share .thim-social-share {
		float: none;
		margin-top: 15px;
	}
	.thim-video-box .video-container {
		max-height: 375px;

		.video {
			max-height: 300px;
			height: 300px;
		}
	}
	.thim-top-landing {
		padding-top: 120px !important;
		padding-bottom: 110px !important;
	}
	.thim-support-service .sc_heading .title {
		line-height: 40px;
	}
	.thim-grid-posts.has-horizontal.has-vertical .grid-vertical,
	.thim-grid-posts.has-horizontal.has-vertical .grid-horizontal {
		width: 100%;
		float: none;
		clear: both;
	}
	.thim-grid-posts .item-post .article-image {
		position: relative;

		img {
			width: 100%;
		}
	}
	.thim-grid-posts .grid-vertical .item-post {
		.article-wrapper {
			width: 50%;
			float: right;
			position: relative;

			&:before {
				top: 58px;
				left: 0;
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
				border-right: 13px solid #f5f5f5;
				border-left: none;
				z-index: 10;
			}
		}

		.article-image {
			width: 50%;
			float: left;
			position: relative;

			img {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	body.admin-bar {
		.site-header.affix {
			top: 0;
		}

		.menu-scoll-landing {
			top: 0;
		}
	}

	.mc4wp-form {
		.mc4wp-form-fields {
			input[type='text'],
			input[type='email'] {
				max-width: 325px;
				margin-left: 0;

				.thim-newlleter-homepage & {
					max-width: 325px;
					margin-left: 0;
				}
			}
		}
	}

	article {
		.entry-header {
			.entry-meta {
				li {
					padding-right: 20px;
					margin-right: 15px;
				}
			}
		}
	}

	.woocommerce #content .comments-area,
	.woocommerce .comments-area,
	.comments-area {
		.comment-list {
			.comment-list-inner {
				.children {
					margin-left: 50px;
				}
			}
		}
	}

	.thim-testimonial-slider {
		padding: 0 30px;

		.control-nav {
			top: 56px !important;
		}

		.slides-content {
			.content {
				margin-left: -30px;
				margin-right: -30px;
			}
		}

		&.layout-slide-2 {
			.slides-content {
				.content {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	.thim-course-list {
		.course-item {
			.thim-course-content {
				.course-readmore {
					margin-top: -8px;
				}
			}

			.course-meta {
				.course-review {
					display: none !important;
				}
			}
		}
	}

	.tp-event-content {
		.entry-content {
			width: 100%;
			float: none;

			&:after {
				display: none;
			}
		}

		.tp-event-info {
			float: none;
			clear: both;
			margin-top: 30px;
			padding-left: 0;
		}
	}
	.learn-press {
		.course-payment {
			margin-bottom: 0;
		}

		.course-summary {
			margin-top: 30px;
		}

		.course-meta {
			margin-bottom: 0;

			.course-review {
				display: none;
			}

			> div {
				border-right: 0;
			}
		}
	}
	.counter-box {
		&.number-left {
			padding-bottom: 30px;
			padding-top: 30px;
		}
	}
	.thim-ralated-course {
		.related-title {
			margin-top: 50px;
			margin-bottom: 35px;
		}
	}
	article.lp_course {
		h1.entry-title {
			margin-bottom: 15px;
		}
	}
	.thim-course-menu-landing {
		.thim-course-landing-tab {
			display: none;
		}
	}
	.switch-layout-container {
		.course-index {
			display: none;
		}
	}
	.page-404-content {
		padding-left: 0;
		padding-right: 0;

		h2 {
			font-size: 65px;
			line-height: 70px;
		}
	}

	.thim-demo-accounts {
		clear: both;
		margin-left: 0 !important;
		margin-right: 0 !important;

		> .panel-grid-cell {
			width: 100% !important;
			float: none !important;
			padding-left: 0 !important;
			padding-right: 0 !important;

			.thim-widget-single-images {
				display: none;
			}
		}
	}

	.switch-layout-container {
		.switch-layout {
			flex-grow: 1;
		}

		.thim-course-order {
			margin-bottom: 10px;
			margin-right: 0;

			& ~ .courses-searching {
				width: 100%;
				max-width: 100%;

				form {
					width: 100%;
				}
			}
		}
	}

	.footer-bottom {
		position: relative;
	}
	footer#colophon.has-footer-bottom {
		margin-bottom: 0;
	}
	.thim-video-box .video-container {
		padding: 25px 65px 50px;
		max-height: 325px;

		.video {
			height: 250px;
			max-height: 250px;
		}
	}
	.thim-footer-info > div {
		display: block;
		margin-right: 0;
	}

	.shop_table {
		.product-price,
		.product-thumbnail {
			display: none;
		}
	}
	.woocommerce table.cart.shop_table th {
		text-align: left;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
		float: none;
	}
	.woocommerce.woocommerce-cart table.cart td.actions .coupon .input-text,
	.woocommerce-page.woocommerce-cart table.cart td.actions .coupon .input-text {
		font-size: 13px;
		min-width: 100px;
	}
	.mo-openid-app-icons {
		.btn-block {
			display: block;
			margin-top: 20px;

			&:first-child {
				margin: 0;
			}

			&:last-child {
				margin-top: 20px;
			}
		}
	}

	.woocommerce .col2-set .col-1,
	.woocommerce-page .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-2 {
		width: 100%;
		float: none;
	}
	.woocommerce form .form-row-first,
	.woocommerce form .form-row-last,
	.woocommerce-page form .form-row-first,
	.woocommerce-page form .form-row-last {
		float: none;
		width: 100%;
	}

	table.list-book-event {
		td, th {
			padding: 5px !important;
		}
	}

	body .thim-carousel-course-categories-tabs .thim-course-slider:after {
		content: none;
	}
}

@media (max-width: 480px) {
	#user_quizzes {
		.quiz-result {
			.quiz-title a {
			}

			.quiz-result-mark, .quiz-result-summary {
			}
		}
	}

	.course-grid, .archive_switch {
		.col-sm-6 {
			width: 100%;
		}
	}

	.one-courses-page-content {
		.col-sm-4, .col-sm-8 {
			display: block;
		}
	}

	// widget post display
	.posts-display {
		.col-sm-6 {
			width: 100%;
		}
	}

	.breadcrumbs-wrapper.button-list-gird {
		.woocommerce-breadcrumb, .display, .thim-breadcrumbs, #breadcrumbs {
			width: 100%;
		}

		.display {
			padding-top: 20px;
			text-align: left;

			a {
				margin-left: 0;
				margin-right: 20px;
			}
		}
	}

	.woocommerce.single-product div.product .related.products .blog-grid li.product {
		width: 100% !important;

		&:nth-child(2n+1) {
			clear: both;
		}
	}

	.thim-gallery-images-default {
		.item {
			float: left;
			width: 100% !important;
		}
	}

	.overlay-black {
		.icon-box-title {
			font-size: 24px !important;
			line-height: 32px !important;

			span {
				display: block;
			}
		}
	}

	.thim-widget-courses-searching .courses-searching {
		input {
			height: 40px !important;
			line-height: 40px !important;
			font-size: 13px;
			padding-left: 10px;
			width: calc(100% - 40px) !important;
			width: -webkit-calc(100% - 40px) !important;
			width: -moz-calc(100% - 40px) !important;
		}

		button {
			width: 40px;
			line-height: 40px;
		}
	}

	.icon-left .content-inner {
		width: 100% !important;
		text-align: center;
		padding: 15px 0;

		.icon-box-title {
			font-size: 26px !important;
		}
	}
	.icon-left .boxes-icon {
		margin: 0 auto;
		float: none;
	}

	.wrapper-author {
		.avatar-instructors, .author-right {
			width: 100%;
			display: inline-block;
		}
	}

	article {
		.entry-header {
			.date-meta {
				border-right: 0;
				margin-bottom: 15px;
			}

			.entry-contain {
				float: none;
				width: 100%;
				clear: both;
				padding-left: 0;

				&:before {
					display: none;
				}
			}

			.entry-title {
				a {
					white-space: normal;
				}
			}
		}
	}

	.wrapper-box-icon.overlay {
		.heading__primary {
			margin-top: 20px;
		}
	}

	.thim-list-event:not(.layout-2):not(.layout-3) {
		.item-event {
			.time-from {
				float: none;
				clear: both;
				text-align: left;
			}

			.image {
				float: none;
				width: 100%;
			}

			.event-wrapper {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.thim-testimonial-slider {
		.control-nav {
			top: 36px !important;
		}
	}

	.learn-press {
		.course-tabs {
			.nav-tabs {
				li {
					a {
						span {
							display: none;
						}

						.fa {
							margin-right: 0;
						}
					}
				}
			}
		}

		.course-payment {
			text-align: right;

			.lp-course-buttons {
				text-align: right;
			}

			.learn-press-pmpro-buy-membership {
				margin-bottom: 15px;

				.button.purchase-button {
					margin-right: 0;
				}
			}
		}

		.thim-course-menu-landing {
			.thim-course-landing-button {
				.learn-press-pmpro-buy-membership {
					display: none;
				}
			}
		}
	}

	#tab-course-description, #learn-press-course-description {
		.thim-course-content {
			padding-right: 20px;
		}

	}
	.thim-ralated-course .thim-course-grid {
		.lpr_course[class*=course-grid-] {
			width: 100%;
			display: none;

			&:first-child {
				display: inherit;
			}
		}
	}
	.thim-course-grid {
		.lpr_course[class*=course-grid-] {
			width: 100%;
			float: none;
		}
	}

	.thim-course-carousel,
	.thim-owl-carousel-post {
		padding-top: 10px;

		.owl-controls {
			top: -40px;
			left: 5px;
			right: auto;
		}
	}

	.thim-widget-list-event {
		.thim-list-event:not(.layout-2):not(.layout-3) {
			padding-top: 30px;
			margin-top: 10px;
			display: inline-block;

			.view-all {
				top: -37px;
				left: 0;
				right: auto;
			}
		}
	}
	.profile-tabs {
		.thim-course-grid.thim-carousel-wrapper {
			padding-top: 40px;

			.owl-controls {
				top: -10px;
			}
		}
	}
	.thim-widget-courses, .elementor-widget-thim-courses {
		.view-all-courses {
			top: -37px;
			left: 0;
			right: auto;
		}

		.thim-course-grid:not(.thim-carousel-wrapper) {
			padding-top: 20px;
		}
	}
	.thim-list-event .view-all {
		top: -57px;
		left: 0;
		right: auto;
	}
	.thim-get-100s {
		padding-top: 100px;

		.get-100s {
			font-size: 14px;
		}

		h2 {
			font-size: 36px;
			line-height: 50px;
		}
	}
	.counter-group {
		.counter-block {
			width: 85px;
			height: 85px;
			margin-right: 10px;

			.counter {
				height: 40px;
				line-height: 40px;
				font-size: 40px;
				margin: 10px 18px 0;
			}

			.counter-caption {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}
	.tp-event-top {
		.entry-countdown {
			.tp_event_counter {
				.countdown-row {
					.countdown-section {
						margin: 0 10px;
						width: 65px;
						height: 65px;

						.countdown-amount {
							font-size: 30px;
							line-height: 30px;
							height: 30px;
							margin-top: 10px;
						}

						.countdown-period {
							font-size: 11px;
							line-height: 18px;
						}
					}
				}
			}
		}
	}
	.comments-area {
		.comment-respond-area {
			#respond.comment-respond {
				.comment-form {
					.comment-form-author,
					.comment-form-email,
					.comment-form-url {
						width: 100%;
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}

	.thim-course-list {
		.course-item {
			.course-thumbnail {
				margin-right: 0;
				margin-bottom: 15px;
				width: 270px;
			}

			.thim-course-content {
				width: 100%;
				clear: both;
				float: none;
			}
		}
	}
	#toolbar {
		.thim-have-any-question {
			display: none;
		}
	}
	.thim-mobile-login {
		display: block;
	}

	.profile-container {
		.profile-tabs {
			.nav-tabs {
				li {
					.text {
						display: none;
					}
				}
			}
		}
	}

	.page-404-content {
		h2 {
			font-size: 55px;
			line-height: 60px;
		}
	}
	#learn-press-course-curriculum ul.curriculum-sections {
		.section-content {
			.course-item {
				.course-item-title {
					max-width: calc(100% - 30px);
				}
			}
		}
	}
	.quiz-results .result-field {
		margin-right: 15px;
	}
	form#lostpasswordform {
		p {
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				max-width: 260px;
			}
		}
	}

	.top_site_main .page-title-wrapper h1, .top_site_main .page-title-wrapper h2 {
		font-size: 40px;
	}
	#sidebar .thim-widget-single-images img {
		width: 100%;
	}
	article .entry-header .entry-meta li {
		&.entry-date {
			display: none;
		}
	}
	.entry-navigation-post {
		.prev-post,
		.next-post {
			padding: 10px 20px 25px;
			width: 100%;
		}

		.prev-post {
			border-bottom: 1px solid #eeeeee;
		}

		&:before {
			display: none;
		}
	}
	.product-cat li a {
		margin-left: 3px;
		margin-right: 3px;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 12px;
	}
	.product-grid .product.col-xs-6 {
		width: 100%;
		clear: both;
	}
	.related-products {
		.product {
			display: none;

			&:first-child {
				display: block;
			}
		}
	}
	.related-archive .single-title, .share-post .single-title {
		margin-bottom: 30px;
	}
	.thim-about-author {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
	}
	.woocommerce div.product .woocommerce-tabs .tabs.wc-tabs li,
	.woocommerce-page div.product .woocommerce-tabs .tabs.wc-tabs li {
		width: 50%;
	}
	.wrapper-lists-our-team .our-team-item {
		width: 100%;
	}
	.thim-widget-tab .nav-tabs li a span {
		display: none;
	}
	.related-archive ul.archived-posts > li {
		width: 100%;
		display: none;

		&:first-child {
			display: inherit;
		}
	}
	.thim-video-box .video-container {
		padding: 20px 55px 50px;
		max-height: 280px;

		.video {
			max-height: 210px;
		}
	}

	.thim-university-top-icon {
		-webkit-flex-direction: unset !important;
		-ms-flex-direction: unset !important;
		flex-direction: unset !important;
		-ms-flex-wrap: wrap !important;
		-webkit-flex-wrap: wrap !important;
		flex-wrap: wrap !important;

		> .panel-grid-cell {
			width: 50% !important;

			&:nth-child(3n+0) {
				.thim-widget-icon-box .wrapper-box-icon {
					border-right: 1px solid #eda803;
				}
			}

			&:nth-child(2n+0) {
				.thim-widget-icon-box .wrapper-box-icon {
					border-right: 0;
				}
			}
		}
	}

	.wrapper-gallery-filter {
		> .thim-col-5,
		> [class*=col-sm-] {
			width: 100%;
			float: none;
		}
	}

	.collection-grid-3 {
		width: 100%;
		margin-bottom: 30px;
		float: none;

		&:not(.collection-feature) {
			.collection-item {
				width: 100%;
				float: none;
				margin-bottom: 30px;
				padding: 0 15px;
			}
		}
	}
	.thim-courses-collection .collection-item {
		width: 100%;
	}

	.woocommerce.woocommerce-cart table.cart td.actions input[type=submit],
	.woocommerce-page.woocommerce-cart table.cart td.actions input[type=submit] {
		margin-left: 5px;
		font-size: 12px;
		padding: 5px 10px;
	}

	.lp_pmpro_courses_by_level .thim-level-wrap {
		width: 100%;
	}
	.pmpro-has-access {
		.pmpro_thead-msg,
		.pmpro_thead-name {
			width: 100%;
			float: none;
		}
	}

	#tp_style_selector {
		display: none;
	}

	#thim-popup-login {
		.popup-login-wrapper {
			padding: 0 15px;
			max-width: 100%;
		}

		.thim-login-container {
			padding-top: 50px;
			padding-bottom: 20px;
			width: 100% !important;
			min-height: 100vh;
			flex-direction: column;

			.mo-openid-app-icons ~ .thim-popup-inner {
				width: 100%;
			}
		}

		.mo-openid-app-icons .btn-block {
			max-width: 44px;
			height: 44px;
			border: solid 4px;
			margin: 0 10px;
			font-size: 0;
			display: inline-block;

			i {
				line-height: 26px;
			}
		}
	}

	.thim-carousel-course-categories .item {
		width: 100%;
	}

	.woocommerce.widget_woocommerce_products .product_list_widget li {
		width: 100%;
		clear: both;
	}
	.thim-list-event {
		.thim-col-2 {
			width: 100%;
			float: none;
			clear: both;
		}
	}
	.thim-list-event.layout-3 .item-event {
		padding-bottom: 20px;
	}

	.elementor-widget-thim-carousel-categories,
	.thim-widget-carousel-categories {
		.image {
			width: 100%;
			float: none;
			min-height: 0 !important;

			img {
				position: relative;
				width: 100%;
			}
		}

		.content-wrapper {
			width: 100%;
			float: none;
			clear: both;
		}
	}
	.thim-grid-posts .grid-vertical .item-post .article-image img,
	.thim-grid-posts .item-post .article-image img {
		max-width: none;
		width: auto;
	}
	.thim-footer-info-3 {
		max-width: 100%;
	}
	.thim-list-event.layout-3 .view-all {
		left: 0;
		right: auto;
		top: auto;
		bottom: 0;
	}
	.thim-grid-posts {
		padding-bottom: 10px;

		.link_read_more {
			bottom: 0;
			left: 0;
			top: auto;
			right: auto;
		}
	}
	body.thim-demo-university-4 .list-event-slider .view-all, body.thim-demo-university-4 .thim-list-post-inner .link_read_more a {
		position: relative;
		top: auto;
		margin-bottom: 20px;
		text-align: center;
		margin-top: -10px;
	}
	.thim-list-post-inner .link_read_more {
		position: relative;
		top: auto;
		text-align: center;
	}
	.thim-post-caregories-slider {
		position: relative;

		.link-view-all {
			left: 15px;
			right: auto;
			top: auto;
			bottom: 70px;
		}
	}
	body #tp_style_selector {
		display: none !important;
	}

	.course-summary #learn-press-course-curriculum ul.curriculum-sections .section-content {
		.course-item {
			padding-left: 0;
			padding-right: 0;

			.meta-left {
				min-width: 60px;
				padding-right: 0;
			}

			.index {
				min-width: 35px;
			}

			.label {
				display: none;
			}

			.meta-center {
				max-width: calc(100% - 60px);
				max-width: -webkit-calc(100% - 60px);
				max-width: -moz-calc(100% - 60px);
			}

			.meta {
				display: block;
				margin-left: 60px;
				clear: both;
				float: none;
			}
		}
	}
	#learn-press-course-curriculum ul.curriculum-sections .section-header {
		padding-right: 0;

		.meta {
			display: none;
		}
	}
	body.thim-demo-university-4 .thim-about-eduma {
		padding-right: 0;
	}
	.list-event-slider .view-all,
	body.thim-demo-university-4 .thim-list-post-inner .link_read_more a {
		color: #333;
	}
	.switch-layout-container .courses-searching ul {
		min-width: 0;
		width: 100%;
	}
	.profile-container .profile-tabs .nav-tabs li a .fa {
		margin-right: 0;
	}
	.profile-tabs table.table-orders tr th,
	.profile-tabs table.table-orders tr td {
		padding-left: 10px;
		padding-right: 10px;
	}
	body footer#colophon.footer-bg-image {
		background-image: none;
	}
	.menu-right ul li > div.thim-widget-login-popup {
		padding-top: 10px;
	}
	body.course-item-popup {
		#learn-press-content-item {
			#course-item-content-header {
				.toggle-content-item {
					width: 70px;
					right: 70px;
				}

				.back_course {
					width: 70px;
				}
			}
		}
	}
	.learn-press {
		.course-tabs {
			.tab-content {
				padding: 30px 15px;
			}
		}
	}

	#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .meta-left {
		margin-bottom: 10px;
	}

	#learn-press-content-item .content-item-wrap .lp-quiz-buttons .form-button:last-of-type {
		margin-left: 0;
	}
	.top_site_main {
		padding-top: 100px;
	}

	.thim-carousel-list-instructors {
		.owl-controls .owl-buttons > div {
			background-color: transparent;

			&.owl-prev {
				left: 0;
			}

			&.owl-next {
				right: 0;
			}
		}
	}
	body.thim-popup-active {
		overflow: hidden;
		height: auto;
	}

	.site-header.header_v2 {
		.navigation {
			.header-top-menu {
				.widget_search {
					display: none;
				}
			}
		}
	}

	.thim-course-carousel .owl-buttons {
		top: -40px;
	}
}

@media (max-width: 420px) {
	.thim-video-box .video-container .video {
		max-height: 180px;
	}
	.mc4wp-form {
		.mc4wp-form-fields {
			input[type=text],
			input[type=email] {
				width: 100%;
				max-width: 100%;

				.thim-newlleter-homepage & {
					width: 100%;
					max-width: 100%;
					margin-bottom: 15px;
					height: 40px;
					padding: 4px 25px;
				}
			}

			button[type="submit"],
			input[type="submit"] {
				height: 40px;
				padding: 5px 25px;
				margin-left: 0;

				.thim-newlleter-homepage & {
					height: 40px;
					padding: 5px 25px;
				}
			}
		}
	}
}

@media (max-width: 375px) {
	.thim-video-box .video-container .video {
		max-height: 160px;
	}
	#tab-course-review, #tab-reviews {
		.course-rating {
			.average-rating {
				width: 100%;
				float: none;
			}

			.detailed-rating {
				width: 100%;

				.stars {
					padding-left: 15px;
					padding-right: 15px;

					div.bar {
						width: 170px;
					}
				}
			}
		}
	}
	.thim-grid-posts .grid-vertical .item-post,
	.thim-grid-posts .grid-horizontal .item-post {
		.article-image {
			width: 100%;
			float: none;
			clear: both;

			img {
				width: 100%;
				position: relative;
			}
		}

		.article-wrapper {
			width: 100%;
			float: none;
			clear: both;
			position: relative;

			&:before {
				top: -26px;
				left: 50%;
				right: auto;
				margin-left: -13px;
				border-bottom: 13px solid #f5f5f5;
				border-right: 13px solid transparent;
				border-left: 13px solid transparent;
			}
		}
	}
	.grid-horizontal .item-post:nth-child(2n) .article-wrapper:before {
		@include rotation(-90deg);
		border-bottom-color: transparent;
	}
	.profile-tabs table.table-orders tr .order-number {
		display: none;
	}
}

@media (max-width: 479px) {
	.wrapper-box-icon.overlay.has_custom_image.text-left .content-inner {
		width: calc(100% - 90px - 15px) !important;
	}

	.wrapper-box-icon.overlay.has_custom_image.text-left .boxes-icon {
		width: 90px !important;
	}
	.thim-list-event:not(.layout-2):not(.layout-3) {
		.item-event {
			.image {
				width: 100%;
			}
		}
	}
	.thim-testimonial-slider {
		.control-nav {
			top: 40px !important;

			&:before {
				font-size: 16px;
			}
		}
	}
	.thim-social-share {
		li {
			margin-bottom: 10px;
		}
	}

	#tab-course-review, #tab-reviews {
		.course-rating {
			.detailed-rating {
				.stars {
					padding: 0 15px;

					div.bar {
						width: 135px;
					}
				}
			}
		}
	}
	form {
		&#lostpasswordform {
			p {
				input[type=text],
				input[type=email],
				input[type=password] {
					margin-bottom: 15px;
					max-width: 100%;
				}

				input[type=submit] {
					width: 100%;
					max-width: 100%;
					margin: 0;
				}
			}
		}
	}

	.wpcf7-form, form.yikes-easy-mc-form {
		.your-name,
		.your-email {
			margin-left: 0;
			width: 100%;
		}
	}

	.switch-layout-container {
		.courses-searching {
			form {
				width: 215px;
			}
		}
	}

	.top_site_main {
		.page-title-wrapper {
			h1, h2 {
				font-size: 35px;
				word-break: break-word;
			}
		}
	}
	.counter-group {
		.counter-block {
			width: 68px;
			height: 68px;
			margin-right: 5px;

			.color-white & {
				margin-right: 0;
			}

			.counter {
				height: 30px;
				width: 40px;
				line-height: 30px;
				font-size: 30px;
				margin: 8px auto 0;

				&.with-hundreds {
					width: 50px;
					margin: 8px auto 0;
				}
			}

			.counter-caption {
				font-size: 11px;
				line-height: 18px;
			}
		}
	}
	.tp-event-top {
		.entry-countdown {
			.tp_event_counter {
				.countdown-row {
					.countdown-section {
						margin: 0 5px;
						width: 65px;
						height: 65px;

						.countdown-amount {
							font-size: 30px;
							line-height: 30px;
							height: 30px;
							margin-top: 8px;
						}

						.countdown-period {
							font-size: 11px;
							line-height: 18px;
						}
					}
				}
			}
		}
	}
	.thim-course-list {
		.course-item {
			.course-thumbnail {
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.learn-press {
		.course-meta {
			.course-categories {
				display: none;
			}
		}
	}

	.page-404-content {
		.col-xs-6 {
			width: 100%;
			float: none;
		}
	}

	.wrapper-box-icon.overlay {
		.icon-images {
			display: table-cell;
		}
	}

	#tab-course-review, #tab-reviews {
		.course-review {
			.content-review {
				> ul {
					.review-text {
						width: 100%;
						clear: both;
						padding-top: 15px;
						float: none;
					}
				}
			}
		}
	}

	.quiz-results {
		.result-summary {
			text-align: center;

			.result-field {
				margin: 7px 10px !important;
			}
		}
	}
	article .entry-header .entry-meta li {
		&.author {
			display: none;
		}
	}

	.comments-area .comment-list .comment-list-inner li .comment-right {
		float: none;
		clear: both;
		padding-top: 15px;
	}
	.comments-area .comment-list .comment-list-inner li .comment-extra-info .comment-edit-link {
		margin-left: 0;
		margin-right: 15px;
		float: left;
	}
	.comments-area .comment-list .comment-list-inner li .content-comment {
		clear: both;
	}
	.thim-video-box .video-container {
		padding: 0;
		max-height: 200px;

		.video {
			max-height: 200px;
		}
	}

	.thim-university-top-icon {
		> .panel-grid-cell {
			width: 50% !important;
			float: none;

			.thim-widget-icon-box .wrapper-box-icon {
				border-right: 0 !important;
			}
		}

		.thim-widget-icon-box {
			.heading__primary {
				margin-top: 10px;
			}
		}
	}

	.wrapper-box-icon.overlay .heading__primary {
		padding-right: 0;
		word-wrap: break-word;
		font-size: 18px;
		line-height: 26px;
	}

	.counter-box {
		&.number-left {
			.display-percentage {
				width: 75px;
				font-size: 45px;
				line-height: 55px;
			}

			.counter-box-content {
				font-size: 20px;
			}

			.view-more {
				font-size: 12px;
			}

			.counter-content-container {
				padding-right: 10px;
				width: calc(100% - 95px);
				width: -webkit-calc(100% - 95px);
				width: -moz-calc(100% - 95px);
			}
		}
	}

	.woocommerce table.shop_table th,
	.woocommerce table.shop_table td {
		padding-left: 10px;
		padding-right: 10px;
	}
	.woocommerce.woocommerce-cart table.cart td.actions .coupon .input-text,
	.woocommerce-page.woocommerce-cart table.cart td.actions .coupon .input-text,
	.woocommerce.woocommerce-cart table.cart td.actions input[type=submit],
	.woocommerce-page.woocommerce-cart table.cart td.actions input[type=submit] {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.pmpro-has-access {
		.navigation,
		.pmpro_actionlinks {
			a {
				display: block;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	#masthead.header_v3 .toolbar-container .widget_login-popup {
		display: none;
	}
	#masthead.header_v3 .toolbar-container .widget_search .search-form {
		border-left: 0;
	}
	#masthead.header_v3 .toolbar-container .widget_search .search-form label .search-field:focus {
		width: 160px;
	}
	body #course-curriculum-popup #popup-sidebar,
	#learn-press-content-item .learn-press-content-item-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	#popup-sidebar #learn-press-course-curriculum ul.curriculum-sections .section-content,
	.course-summary #learn-press-course-curriculum ul.curriculum-sections .section-content {
		.course-item {
			padding-right: 5px;
			position: relative;

			.meta-left {
				//display: block;
				//float: none;
				margin-bottom: 0;
			}

			.index {
				min-width: 35px;
			}

			.meta-center {
				max-width: 100%
			}

			.meta {
				//margin-left: 0;
				//padding-left: 0;
			}

			.course-item-meta {
				position: absolute;
				top: 15px;
				right: 0;
			}

			.course-item-title {
				max-width: calc(100% - 105px);
				max-width: -webkit-calc(100% - 105px);
				max-width: -moz-calc(100% - 105px);
			}
		}
	}
	.thim-widget-courses-searching {
		.search-course-description {
			font-size: 18px;
		}

		.search-course-title {
			font-size: 24px;
			line-height: 32px;
		}
	}
	.footer-bottom {
		.sc_heading {
			padding-top: 80px;

			.title {
				font-size: 26px;
				line-height: 34px;
			}

			.sub-heading {
				font-size: 16px;
				line-height: 24px;
			}
		}

		.thim-widget-button {
			padding-bottom: 80px;

			.widget-button {
				line-height: 38px;
				padding: 0 20px;
				height: auto;
			}
		}
	}
	.thim-category-tabs {
		.nav-tabs {
			li {
				padding-right: 10px;
				padding-left: 10px;
			}
		}
	}
	footer#colophon {
		.footer {
			.widget_siteorigin-panels-builder {
				&:not(.thim-footer-one-course) {
					padding-top: 30px;
					padding-bottom: 0;
				}
			}

		}
	}

	.sc_heading {
		padding-bottom: 10px;

		.title {
			font-size: 22px;
		}
	}
}

@media (max-width: 320px) {
	#tab-course-review, #tab-reviews {
		.course-rating {
			.detailed-rating {
				.stars {
					div.bar {
						width: 105px;
					}
				}
			}
		}
	}
	.switch-layout-container {
		.courses-searching {
			form {
				width: 200px;
			}
		}
	}
	.thim-testimonial-slider .control-nav {
		top: 50px !important;
	}
	.mobile-menu-container {
		width: 250px;
	}
	.top_site_main .page-title-wrapper h1,
	.top_site_main .page-title-wrapper h2 {
		font-size: 25px;
		line-height: 40px;
	}
	.thim-video-box .video-container {
		padding: 0;
		max-height: 210px;

		video {
			max-height: 200px;
		}
	}
}

@media(max-width: 300px) {
	.mobile-menu-container {
		width: 220px;
	}
	.siteorigin-panels-stretch {
		&.panel-row-style {
			&.thim-search-light-style {
				.panel-grid-cell {
					padding: 30px 15px !important;
				}
			}
		}
	}
}

@media (max-height: 375px) {
	.thim-widget-icon-box {
		.wrapper-box-icon.background-video {
			min-height: 375px;
		}
	}
	.thim-bg-overlay-color-half {
		min-height: 375px !important;
	}
	.footer-bottom {
		.sc_heading {
			padding-top: 60px;
		}

		.thim-widget-button {
			padding-bottom: 67px;
		}
	}
}

@media (max-height: 320px) {
	.thim-widget-icon-box {
		.wrapper-box-icon.background-video {
			min-height: 320px;
		}
	}
	.thim-bg-overlay-color-half {
		min-height: 320px !important;
	}
	.footer-bottom {
		.sc_heading {
			padding-top: 38px;
		}

		.thim-widget-button {
			padding-bottom: 45px;
		}
	}
}

@media (min-width: 1025px) and (max-width: 1400px) {
	.img_position .widget_single-images {
		&:nth-child(1) {
			img {
				padding-right: 80px;
			}
		}

		&:nth-child(2) {
			img {
				padding-left: 64px;
				bottom: 0;
			}
		}
	}
	.box_counteradius h2 {
		font-size: 75px;
	}
	body.size_wide .container {
		width: 1140px;
		max-width: 100%;
	}
	.rev_slider {
		.tp-tabs {
			&.hebe {
				.tp-tab-mask {
					width: 1110px !important;

					.tp-tabs-inner-wrapper {
						width: 100% !important;
					}
				}

				.tp-tab {
					left: auto !important;
					position: relative;
					float: left;
					width: 25% !important;
				}
			}
		}
	}
	#masthead.header_v4 .navigation .width-navigation {
		.navbar-nav {
			> li {
				> a, > span {
					padding-left: 15px;
					padding-right: 15px;

					&:after {
						right: -2px;
					}
				}

				&:first-child {
					> a, > span {
						padding-left: 0;
					}
				}
			}
		}
	}
	.thim-style-content-new-1 {
		.course_right {
			.thim-social-share {
				padding-right: 15px;
				padding-left: 15px;
			}
		}

		.mo-openid-app-icons {
			.btn-block {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
	.thim-instructors-new {
		.instructor-item {
			padding-right: 0;

			.instructor-info {
				left: 0;
			}
		}
	}
	.thim_what_we_do_edtech {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.header_v5 {
		.navigation {
			.width-logo {
				float: left;
			}

			.width-navigation {
				padding-right: 20px;
				float: left;
			}

			.navbar-nav {
				position: relative;
				padding-right: 185px;

				> li.menu-right {
					position: absolute !important;
					right: 15px;
					width: auto;
				}
			}
		}
	}
}

@media (min-width: 1024px) and (max-width: 1024px) {
	.working_hours li, .menu_faqs .menu li a {
		font-size: 16px;
	}
	.rev_slider {
		.tp-tabs {
			&.hebe {
				.tp-tab {
					left: auto !important;
					position: relative;
					float: left;
					width: 25% !important;
					padding-left: 50px;

					&:before {
						left: 10px;
					}
				}
			}
		}
	}
	.thim-carousel-course-categories-tabs .owl-controls .owl-buttons > div.owl-prev {
		right: calc(100% - 35px);
	}
	.thim-carousel-course-categories-tabs .owl-controls .owl-buttons > div.owl-next {
		left: calc(100% - 35px);
	}
}

@media (max-width: 1024px) {

	.thim-style-content-new-1 {
		.thim_overlay_dark_30 {
			.mc4wp-form-submitted {
				background-color: #ffffff;

				.mc4wp-response {
					padding: 0 15px;
					padding-bottom: 20px;
					left: auto;
					position: relative;
					right: auto;
				}
			}
		}
	}

	#masthead {
		&.header_v4 {
			.navigation {
				.menu-right {
					margin-right: 60px;
				}
			}
		}
	}
	.sc_heading {
		&.clone_title {
			.clone {
				font-size: 50px;
				bottom: 28px;
			}
		}
	}
	.navigation .width-logo {
		padding-left: 15px;
	}
	.header_v5 {
		#toolbar {
			.widget_nav_menu {
				display: none;
			}
		}

		&.site-header {
			.navbar-nav {
				text-align: right;
				display: block;

				> li.menu-right {
					width: auto;
					margin-right: 15px;

					li {
						margin-bottom: 0;
					}
				}
			}
		}

		.menu-mobile-effect {
			right: 30px;
		}
	}
	.feature-icon-box:before {
		display: none;
	}
}

@media (max-width: 991px) {
	.rev_slider .tp-tabs.hebe {
		display: none;
	}
	.siteorigin-panels-stretch.panel-row-style {
		&.thim_bg_right {
			background-size: 50%;
			background-position-x: right !important;
			background-position-y: 65px !important;
		}

		&.thim_bg_left {
			background-size: 50%;
			background-position-x: left !important;
			background-position-y: 65px !important;
		}

		&.thim-search-light-style {
			-webkit-flex-direction: unset !important;
			-ms-flex-direction: unset !important;
			flex-direction: unset !important;

			.panel-grid-cell {
				padding-left: 30px !important;
				padding-right: 30px !important;
			}
		}
	}
	.thim-carousel-course-categories-tabs {
		.thim-course-slider {
			padding-left: 50px;
			padding-right: 50px;
		}

		.owl-controls {
			.owl-buttons {
				> div {
					&.owl-prev {
						right: calc(100% - 40px);
					}

					&.owl-next {
						left: calc(100% - 50px);
					}
				}
			}
		}

		.content_items {
			.item_content {
				> img {
					margin-right: 30px;
					margin-bottom: 30px;
					max-width: 300px;
				}

				.content {
					padding-top: 0;
				}
			}
		}
	}
	.box_counteradius {
		padding-top: 100px;

		h2 {
			font-size: 35px;
			line-height: 35px;
		}

		h4 {
			font-size: 18px;
		}
	}
	.form_developer_course {
		.head_form {
			h2 {
				line-height: 30px;
				font-size: 22px;
				font-weight: 400;
			}

			h4 {
				font-size: 13px;
				line-height: 30px;
			}
		}
	}
	.img_position {
		.widget_single-images {
			img {
				position: inherit;
				margin-bottom: 30px;
			}
		}

		.vc_column-inner {
			.thim-widget-single-images {
				img {
					position: inherit;
					margin-bottom: 50px;
					bottom: 0;
				}
			}
		}
	}
	.thim_vc_footer_column {
		> .vc_col-sm-3 {
			width: 100% !important;
		}
	}
	.ClassyCountdown-wrapper {
		> div {
			width: calc(50% - 30px);
		}
	}
	.thim-instructors-new {
		.owl-controls {
			bottom: -40px;
			right: 15px;
		}

		.instructor-item {
			padding-right: 0;
			padding-left: 0;

			.instructor-info {
				position: inherit;
				width: 100%;
				left: 0;
				top: 0;
				-ms-transform: inherit;
				-webkit-transform: inherit;
				transform: inherit;
			}
		}
	}
	.thim-testimonial-slider {
		&.image-bottom {
			margin-bottom: 50px;
		}
	}
	.eduma-child-kindergarten {
		.iconbox-left {
			.content-inner {
				margin-top: 15px;
				width: 100% !important;
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.mc4wp-form .mc4wp-form-fields .newsletter-grad {
		margin-bottom: 30px;
	}
	.mobile-logo-custom {
		&.site-header {
			.no-sticky-logo-mobile, .sticky-logo-mobile {
				display: none;
			}
		}

	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.hidden-sm {
		display: none;
	}
	.thim_footer_bottom_courses {
		.textwidget, .wpb_text_column {
			h2 {
				font-size: 14px;
			}

			h4 {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 25px;
			}
		}
	}
	.thim_2_col_tablet {
		display: block !important;
		-webkit-flex-direction: inherit !important;
		-ms-flex-direction: inherit !important;
		flex-direction: inherit !important;
		margin-left: -15px;
		margin-right: -15px;

		> .panel-grid-cell {
			width: 50% !important;
			display: inline-block;
			margin-bottom: 30px;
			vertical-align: top;
			padding-right: 15px;
			padding-left: 15px;
		}

	}
	.thim_3_col_tablet {
		display: block !important;
		-webkit-flex-direction: inherit !important;
		-ms-flex-direction: inherit !important;
		flex-direction: inherit !important;

		> .panel-grid-cell {
			width: 33% !important;
			display: inline-block;
			margin-bottom: 30px;
		}
	}
	.thim_1_col_tablet {
		display: block !important;
		-webkit-flex-direction: inherit !important;
		-ms-flex-direction: inherit !important;
		flex-direction: inherit !important;

		> .panel-grid-cell {
			width: 100% !important;
			display: inline-block;

			.panel-widget-style {
				padding-left: 10px !important;
				padding-right: 10px !important;
			}
		}

		&.margin_b_col {
			> .panel-grid-cell {
				margin-bottom: 30px;
			}
		}
	}
	.layout_demo_1 {
		.thim-list-event {
			.item-event {
				.time-from {
					.date {
						font-size: 50px;
					}
				}

				.event-wrapper {
					width: calc(100% - 410px) !important;
					width: -webkit-calc(100% - 410px) !important;
					width: -moz-calc(100% - 410px) !important;

					.title {
						font-size: 18px;
						line-height: 28px;
					}
				}
			}
		}
	}
	.widget_wpems_widget_countdown {
		.event-countdown {
			.tp_event_counter {
				.countdown-row {
					.countdown-section {
						width: 90px;
						height: 90px;
						margin-top: 0;
						margin-bottom: 30px;

						&:nth-child(3) {
							margin-left: 0;
							clear: both;
						}

						.countdown-amount {
							font-size: 30px;
							font-weight: 300;
							line-height: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
	.panel-grid.panel-has-style > {
		.panel-row-style {
			&.thim-col-1-tablet {
				display: block;

				> .panel-grid-cell {
					width: 100% !important;
				}
			}
		}
	}
	body.course-item-popup {
		#learn-press-course-curriculum {
			width: 300px;

			&:before {
				left: 299px;
			}
		}

		#learn-press-content-item {
			left: 300px;

			.content-item-wrap {
				.comments-area, .content-item-summary, .course-item-nav, .learn-press-content-protected-message {
					margin-right: 20px;
					margin-left: 20px;
				}
			}
		}
	}
	.home-grad {
		.counter-box {
			.display-percentage, .text_number {
				font-size: 40px;
			}

			.counter-box-content {
				font-size: 16px;
			}

			&:after {
				-ms-transform: rotate(13deg);
				-webkit-transform: rotate(13deg);
				transform: rotate(13deg);
				right: -15px;
			}
		}
	}
	.thim-image-box .title h3 {
		font-size: 18px;
		line-height: 26px;
	}
	.mc4wp-form {
		.mc4wp-form-fields {
			.newsletter-grad {
				margin-bottom: 30px;

				input[type=email], input[type=text] {
					width: 350px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.layout_demo_1 {
		.thim-list-event {
			.item-event {
				.event-wrapper {
					width: calc(100% - 100px) !important;
					width: -webkit-calc(100% - 100px) !important;
					width: -moz-calc(100% - 100px) !important;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none;
	}
	.thim-style-content-new-1 {
		.thim-course-list .course-item .course-meta {
			margin-bottom: 15px;
		}

		.sc_heading.clone_title {
			padding: 0;

			.title {
				font-size: 25px;
			}
		}
	}
	.thim_footer_bottom_courses {
		.widget-button {
			margin-bottom: 30px;
		}

		.textwidget, .wpb_text_column {
			h2 {
				font-size: 14px;
			}

			h4 {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 25px;
			}
		}
	}
	.switch-layout-container .courses-searching form {
		width: 200px;
	}
	#masthead {
		&.header_v4 {
			.navigation {
				padding-top: 20px;

				.menu-right {
					display: none;
				}

				.width-logo {
					img {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	.sc_heading {
		&.clone_title {
			.title {
				font-size: 22px;
			}

			.clone {
				font-size: 30px;
				bottom: 15px;
			}
		}
	}
	.box_counteradius {
		padding-top: 0;
	}
	.widget_wpems_widget_countdown {
		.event-countdown {
			margin-bottom: 30px;

			.tp_event_counter {
				.countdown-row {
					text-align: center;

					.countdown-section {
						width: 100px;
						display: inline-block;
						height: 100px;
						margin-top: 0;
						margin-bottom: 30px;
						margin-left: 0;

						.countdown-amount {
							font-size: 28px;
							font-weight: 300;
							margin-top: 20px;
							line-height: 28px;
							height: 28px;
						}

						.countdown-period {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
	.thim_col_mobile {
		-webkit-flex-direction: unset !important;
		-ms-flex-direction: unset !important;
		flex-direction: unset !important;
	}
	.panel-grid.panel-has-style > {
		.panel-row-style {
			&.thim-col-1-mobile {
				display: block;

				> .panel-grid-cell {
					width: 100% !important;
				}
			}
		}
	}
	footer#colophon .footer .thim_footer_second .thim-social {
		text-align: left;

		li a {
			margin-left: 0;
			margin-right: 10px;
		}
	}
	.counter-box.text-gradient {
		.wrap-percentage {
			font-size: 38px;
			line-height: 38px;

			.display-percentage {
				font-size: 38px;
			}
		}

		.counter-box-content {
			font-size: 12px;
			line-height: 20px;
		}
	}
	.thim-widget-courses, .elementor-widget-thim-courses {
		.grid-1 {
			.view-all-courses {
				display: none;
			}
		}
	}
	.layout_demo_1 {
		.thim-list-event {
			.item-event {
				.time-from {
					.date {
						&:after {
							display: none;
						}
					}
				}

				.event-wrapper {
					.meta {
						font-size: 14px;

						> div {
							margin-bottom: 5px;
						}
					}

					.title {
						font-size: 18px;
						line-height: 30px;
					}
				}
			}
		}
	}
	.navigation .menu-right ul li > div.thim-widget-courses-searching {
		padding-top: 16px;
	}
	.vc_row {
		.thim-bg-border-top {
			margin-bottom: 30px;
		}
	}
	body.course-item-popup {
		#learn-press-course-curriculum {
			width: 300px;

			&:before {
				left: 299px;
			}
		}

		#learn-press-content-item {
			.content-item-wrap {
				.comments-area, .content-item-summary, .course-item-nav, .learn-press-content-protected-message {
					margin-right: 20px;
					margin-left: 20px;
				}
			}
		}
	}
	.thim_countdown_pie {
		&.style_black_wide {
			.ClassyCountdown-wrapper {
				> div {
					width: calc(50% - 20px);
					width: -webkit-calc(50% - 20px);
					width: -moz-calc(50% - 20px);
				}

				.ClassyCountdown-value {
					line-height: 20px;
					margin-top: -20px !important;
				}
			}
		}
	}
	.box_counteradius_2 {
		h4 {
			font-size: 14px;
		}

		h2 {
			line-height: 28px;
			font-size: 24px;
		}
	}
	.thim_countdown_newletter_box {
		margin-top: 30px;
	}
	.thim_tabs_slider {
		margin: 0 !important;
		padding-bottom: 30px;

		ul {
			margin-left: -10px;
			margin-right: -10px;
			margin-top: 20px;

			li {
				a {
					padding-right: 10px;
					padding-left: 10px;
				}
			}
		}

		.thim-course-grid {
			.course-feature {
				.course-item {
					.thim-course-content {
						.thim-course-info {
							ul {
								li {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
	.thim-widget-tab {
		margin-bottom: 60px;

		.thim-widget-step {
			.tab-content-step {
				padding-right: 0;
			}

			ul {
				margin-bottom: 30px;

				li {
					a {
						width: 50px;
						line-height: 18px;
						padding-top: 8px;
						padding-bottom: 8px;
					}
				}
			}
		}
	}
	.thim_bg_left_bottom {
		background-image: none !important;
	}
	.sc_heading.clone_title {
		.clone {
			display: none;
		}
	}
	.thim-instructors-new {
		.instructor-item {
			.instructor-info {
				padding: 30px 15px;
			}
		}
	}
	.thim-testimonial-slider {
		&.image-bottom {
			margin-bottom: 50px;

			.slides-content {
				.description {
					font-size: 16px;
					padding-right: 15px;
					padding-left: 15px;
					line-height: 26px;
				}
			}
		}
	}
	.footer_newsletter {
		.sc_heading {
			.title {
				font-size: 28px !important;
			}

			.sub-heading {
				font-size: 16px;
			}
		}

		.form_developer_course {
			.content {
				.field_item {
					width: 100%;
				}

				input[type=text], input[type=email] {
					margin-bottom: 5px;
				}
			}
		}
	}
	body.course-item-popup {
		#learn-press-content-item {
			.scroll-wrapper {
				width: auto !important;
			}
		}

		&.full-screen-content-item {
			#learn-press-content-item {
				left: 0;

				.scroll-wrapper {
					width: 100% !important;
				}
			}

			#learn-press-course-curriculum {
				left: -300px;
			}
		}
	}
	.custom-text-2 {
		padding: 0;
	}
	.thim-list-event.layout-2.layout-4 .event-wrapper {
		width: 100%;
		margin-top: 20px;
	}
	.menu_faqs .menu li a {
		font-size: 16px;
	}
	.box_heading_custom .column_heading {
		padding-right: 0;
		margin-right: 0;
		width: 100%;
		text-align: left;
		border-right: none;
		margin-bottom: 15px;
	}
	.box_heading_custom .column_3 {
		display: block;
		width: 100%;
	}
	.mc4wp-form {
		.mc4wp-form-fields {
			.newsletter-grad {
				input[type=email], input[type=text] {
					width: 100%;
					margin-bottom: 10px;
				}

				label {
					margin-right: 0;
					margin-bottom: 10px;
					display: block;
				}

				input[type=submit] {
					height: auto;
				}
			}
		}
	}
	.home-grad .counter-box:after {
		display: none;
	}
	.thim-social {
		&.style-4 {
			margin-left: 0;
			margin-top: 15px;

			li {
				a {
					margin-right: 15px;
					margin-left: 15px;
				}
			}
		}
	}
	.thim_1_col_tablet {
		> .panel-grid-cell {
			.panel-widget-style {
				padding-left: 15px !important;
			}
		}
	}
	.feature-icon-box {
		.thim-widget-icon-box {
			.boxes-icon {
				width: 50px !important;
			}

			.content-inner {
				width: calc(100% - 50px - 15px) !important;
			}
		}
	}
	.header_v5 #toolbar .thim-have-any-question {
		display: none;
	}
	.site-header.header_v2 {
		.navigation {
			.menu-mobile-effect.navbar-toggle {
				top: 25px;
			}
		}
	}
}

@media (min-width: 601px) and (max-width: 767px) {
	.thim-style-content-new-1 .thim-course-list .course-item .thim-course-content {
		width: calc(100% - 250px);
		width: -webkit-calc(100% - 250px);
		width: -moz-calc(100% - 250px);
		padding-right: 0;

		.course-meta.list_courses {
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 600px) {
	.thim-style-content-new-1 .thim-course-list .course-item {
		.course-thumbnail {
			width: 100%;
			max-width: 100%;

			img {
				width: auto;
			}
		}

		.thim-course-content {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;

			.course-meta.list_courses {
				margin-bottom: 15px;
			}
		}
	}
	footer#colophon .footer .row aside {
		margin-bottom: 30px;
	}

	#thim-popup-login .thim-popup-inner .thim-login, #thim-popup-login .thim-popup-inner .thim-register {
		padding: 0;
	}

	#thim-popup-login {
		align-items: baseline;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.sc_heading.clone_title .clone {
		font-size: 50px;
	}
	.footer_widget .panel-grid.panel-has-style {
		.panel-row-style {
			display: block;

			.panel-grid-cell {
				width: 50% !important;
				display: inline-block;
				margin-bottom: 30px !important;
			}

			&.thim-col-1-mobile {
				.panel-grid-cell {
					width: 100% !important;
				}
			}
		}
	}
}

@media (max-width: 1024px) and (min-width: 768px) {
	.mobile-menu-wrapper {
		padding-left: 50%;
	}
}

