@charset "UTF-8";
/*!
Theme Name: Eduma Child
Theme URI: http://educationwp.thimpress.com/
Description:  Eduma Child Theme
Author: Triaris
Author URI: https://triaris.com
Template: eduma
Version: 1.0.0
Text Domain: eduma-child
*/


.thim-university-top-icon .thim-widget-icon-box .wrapper-box-icon{
    border-right: 0;
}

.section-admissions-bar a {
    visibility: 0.5;
}
.section-admissions-bar a:hover {
    text-decoration: none;
    visibility: 1;
    transition-timing-function: ease-out;
}

.section-admissions-bar .button{
    background-color: red !important;
}


#section-video{}

#section-video .text-block h3{
    background: #2e67f5;
    display: inline;
    padding: 5px 20px;
    clear: both;
}

#section-video .text-block p{
    background: #169dce;
    display: inline;
    padding: 5px 20px;
    clear: both;
}

#section-social{
    background-color:white;
    color: white;
}

#section-social a{
    color: white;
    
}
#section-social h4, #section-social h3{
    margin: 0;
    
}

.hide{
    display:none !important;
}


.round-corners {
    border-radius: 25px !important;
    overflow: hidden;
    box-shadow: 10px 10px 20px -5px rgba(30,56,202,0.2);
    display: inline-block;
    margin: 10px;
    border: 3px solid  white;
}

.round-corners:hover {
    box-shadow: 10px 10px 20px -5px rgba(30,56,202,0.5);
    border: 3px solid  #2e67f5;
    transition:all 0.3s ease-in-out;

}


p.subtitular{
    font-size: 23px;
}

.text-right{ text-align: right;}

.background-no-repeat{ background-repeat: no-repeat !important; }

.background-bottom { background-position: bottom; }
.background-bottom-left{ background-position: left bottom; }
.background-bottom-center{ background-position: center bottom; }


.background-repeat-x { background-repeat: repeat-x !important; }

.homepage-counters .display-percentage, .homepage-counters .counter-box {
    margin: 0; padding:0;
}


.counter-box.text-gradient .wrap-percentage .text_number,.counter-box.text-gradient .wrap-percentage .display-percentage {
    background: -webkit-linear-gradient(#169dce,#2e67f5);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.counter-box.text-gradient .wrap-percentage .display-percentage {
    display: inline-block;
    font-size: 60px;
    font-weight: 900;
}

.counter-box.text-gradient .wrap-percentage .text_number, {
    font-size: 30px;
}

.counter-box.text-gradient .counter-box-content{
    color: #169dce;
    line-height: 1.4em;
}

.vc_images_carousel .vc_carousel-indicators {
    bottom: -50px !important;
}

.wpb_revslider_element { margin-bottom: 0;}


@media (min-width: 1201px) and (max-width: 1420px) {
    #section-social .vc_row {
     background-position: -50% bottom !important;
    }
  }

@media (min-width: 601px) and (max-width: 1200px) {
    #section-social .vc_row {
        background: none !important;
       }
}

@media screen and (max-width: 600px) {
    #section-social .vc_row {
     background: none !important;
    }
  }